/* Figma Styles of your File */
:root {
    /* Colors */
    --angular: conic-gradient(
      from 143.52deg at 50% 50%,
      rgba(188, 0, 221, 1) 33.33333432674408%,
      rgba(7, 132, 195, 1) 50.52083134651184%,
      rgba(255, 182, 0, 1) 96.35416865348816%
    );
    --purple-500: #bc00dd;
    --purple-50: #fbe5ff;
    --purple-950: #16001a;
    --purple-100: #f7ccff;
    --purple-200: #f099ff;
    --purple-300: #e866ff;
    --purple-400: #e033ff;
    --purple-600: #ad00cc;
    --purple-700: #820099;
    --purple-800: #570066;
    --purple-900: #2b0033;
    --blue-500: #0784c3;
    --blue-50: #e6f6fe;
    --blue-950: #011119;
    --blue-100: #ceedfd;
    --blue-200: #9ddcfb;
    --blue-300: #6bcafa;
    --blue-400: #3ab9f8;
    --blue-600: #0786c5;
    --blue-700: #056494;
    --blue-800: #044362;
    --blue-900: #022131;
    --yellow-500: #ffb700;
    --yellow-50: #fff8e5;
    --yellow-950: #1a1200;
    --yellow-100: #fff1cc;
    --yellow-200: #ffe299;
    --yellow-300: #ffd466;
    --yellow-400: #ffc533;
    --yellow-600: #cc9200;
    --yellow-700: #996e00;
    --yellow-800: #664900;
    --yellow-900: #332500;
    --black-500: #131314;
    --black-50: #f2f2f3;
    --black-950: #0c0c0d;
    --black-100: #e5e5e6;
    --black-200: #cbcbcd;
    --black-300: #b1b1b4;
    --black-400: #96969c;
    --black-600: #636369;
    --black-700: #4b4b4e;
    --black-800: #323234;
    --black-900: #19191a;
  
    /* Fonts */
    --raleway-regular-bodyss-font-family: Raleway-Regular, sans-serif;
    --raleway-regular-bodyss-font-size: 12px;
    --raleway-regular-bodyss-line-height: 125%;
    --raleway-regular-bodyss-font-weight: 400;
    --raleway-regular-bodyss-font-style: normal;
    --raleway-regular-bodys-font-family: Raleway-Regular, sans-serif;
    --raleway-regular-bodys-font-size: 14px;
    --raleway-regular-bodys-line-height: 125%;
    --raleway-regular-bodys-font-weight: 400;
    --raleway-regular-bodys-font-style: normal;
    --raleway-regular-body-font-family: Raleway-Regular, sans-serif;
    --raleway-regular-body-font-size: 16px;
    --raleway-regular-body-line-height: 150%;
    --raleway-regular-body-font-weight: 400;
    --raleway-regular-body-font-style: normal;
    --raleway-regular-mediums-font-family: Raleway-Regular, sans-serif;
    --raleway-regular-mediums-font-size: 18px;
    --raleway-regular-mediums-line-height: 150%;
    --raleway-regular-mediums-font-weight: 400;
    --raleway-regular-mediums-font-style: normal;
    --raleway-regular-medium-font-family: Raleway-Regular, sans-serif;
    --raleway-regular-medium-font-size: 20px;
    --raleway-regular-medium-line-height: 150%;
    --raleway-regular-medium-font-weight: 400;
    --raleway-regular-medium-font-style: normal;
    --raleway-regular-heading-6-font-family: Raleway-Regular, sans-serif;
    --raleway-regular-heading-6-font-size: 24px;
    --raleway-regular-heading-6-line-height: 150%;
    --raleway-regular-heading-6-font-weight: 400;
    --raleway-regular-heading-6-font-style: normal;
    --raleway-regular-heading-5-font-family: Raleway-Regular, sans-serif;
    --raleway-regular-heading-5-font-size: 30px;
    --raleway-regular-heading-5-line-height: 125%;
    --raleway-regular-heading-5-font-weight: 400;
    --raleway-regular-heading-5-font-style: normal;
    --raleway-regular-heading-4-font-family: Raleway-Regular, sans-serif;
    --raleway-regular-heading-4-font-size: 36px;
    --raleway-regular-heading-4-line-height: 125%;
    --raleway-regular-heading-4-font-weight: 400;
    --raleway-regular-heading-4-font-style: normal;
    --raleway-regular-heading-3-font-family: Raleway-Regular, sans-serif;
    --raleway-regular-heading-3-font-size: 48px;
    --raleway-regular-heading-3-line-height: 100%;
    --raleway-regular-heading-3-font-weight: 400;
    --raleway-regular-heading-3-font-style: normal;
    --raleway-regular-heading-2-font-family: Raleway-Regular, sans-serif;
    --raleway-regular-heading-2-font-size: 60px;
    --raleway-regular-heading-2-line-height: 100%;
    --raleway-regular-heading-2-font-weight: 400;
    --raleway-regular-heading-2-font-style: normal;
    --raleway-regular-heading-1-font-family: Raleway-Regular, sans-serif;
    --raleway-regular-heading-1-font-size: 72px;
    --raleway-regular-heading-1-line-height: 100%;
    --raleway-regular-heading-1-font-weight: 400;
    --raleway-regular-heading-1-font-style: normal;
    --raleway-semi-bold-bodyss-font-family: Raleway-SemiBold, sans-serif;
    --raleway-semi-bold-bodyss-font-size: 12px;
    --raleway-semi-bold-bodyss-line-height: 125%;
    --raleway-semi-bold-bodyss-font-weight: 600;
    --raleway-semi-bold-bodyss-font-style: normal;
    --raleway-semi-bold-bodys-font-family: Raleway-SemiBold, sans-serif;
    --raleway-semi-bold-bodys-font-size: 14px;
    --raleway-semi-bold-bodys-line-height: 125%;
    --raleway-semi-bold-bodys-font-weight: 600;
    --raleway-semi-bold-bodys-font-style: normal;
    --raleway-semi-bold-body-font-family: Raleway-SemiBold, sans-serif;
    --raleway-semi-bold-body-font-size: 16px;
    --raleway-semi-bold-body-line-height: 150%;
    --raleway-semi-bold-body-font-weight: 600;
    --raleway-semi-bold-body-font-style: normal;
    --raleway-semi-bold-mediums-font-family: Raleway-SemiBold, sans-serif;
    --raleway-semi-bold-mediums-font-size: 18px;
    --raleway-semi-bold-mediums-line-height: 150%;
    --raleway-semi-bold-mediums-font-weight: 600;
    --raleway-semi-bold-mediums-font-style: normal;
    --raleway-semi-bold-medium-font-family: Raleway-SemiBold, sans-serif;
    --raleway-semi-bold-medium-font-size: 20px;
    --raleway-semi-bold-medium-line-height: 150%;
    --raleway-semi-bold-medium-font-weight: 600;
    --raleway-semi-bold-medium-font-style: normal;
    --raleway-semi-bold-heading-6-font-family: Raleway-SemiBold, sans-serif;
    --raleway-semi-bold-heading-6-font-size: 24px;
    --raleway-semi-bold-heading-6-line-height: 150%;
    --raleway-semi-bold-heading-6-font-weight: 600;
    --raleway-semi-bold-heading-6-font-style: normal;
    --raleway-semi-bold-heading-5-font-family: Raleway-SemiBold, sans-serif;
    --raleway-semi-bold-heading-5-font-size: 30px;
    --raleway-semi-bold-heading-5-line-height: 125%;
    --raleway-semi-bold-heading-5-font-weight: 600;
    --raleway-semi-bold-heading-5-font-style: normal;
    --raleway-semi-bold-heading-4-font-family: Raleway-SemiBold, sans-serif;
    --raleway-semi-bold-heading-4-font-size: 36px;
    --raleway-semi-bold-heading-4-line-height: 125%;
    --raleway-semi-bold-heading-4-font-weight: 600;
    --raleway-semi-bold-heading-4-font-style: normal;
    --raleway-semi-bold-heading-3-font-family: Raleway-SemiBold, sans-serif;
    --raleway-semi-bold-heading-3-font-size: 48px;
    --raleway-semi-bold-heading-3-line-height: 100%;
    --raleway-semi-bold-heading-3-font-weight: 600;
    --raleway-semi-bold-heading-3-font-style: normal;
    --raleway-semi-bold-heading-2-font-family: Raleway-SemiBold, sans-serif;
    --raleway-semi-bold-heading-2-font-size: 60px;
    --raleway-semi-bold-heading-2-line-height: 100%;
    --raleway-semi-bold-heading-2-font-weight: 600;
    --raleway-semi-bold-heading-2-font-style: normal;
    --raleway-semi-bold-heading-1-font-family: Raleway-SemiBold, sans-serif;
    --raleway-semi-bold-heading-1-font-size: 72px;
    --raleway-semi-bold-heading-1-line-height: 100%;
    --raleway-semi-bold-heading-1-font-weight: 600;
    --raleway-semi-bold-heading-1-font-style: normal;
    --raleway-bold-bodyss-font-family: Raleway-Bold, sans-serif;
    --raleway-bold-bodyss-font-size: 12px;
    --raleway-bold-bodyss-line-height: 125%;
    --raleway-bold-bodyss-font-weight: 700;
    --raleway-bold-bodyss-font-style: normal;
    --raleway-bold-bodys-font-family: Raleway-Bold, sans-serif;
    --raleway-bold-bodys-font-size: 14px;
    --raleway-bold-bodys-line-height: 125%;
    --raleway-bold-bodys-font-weight: 700;
    --raleway-bold-bodys-font-style: normal;
    --raleway-bold-body-font-family: Raleway-Bold, sans-serif;
    --raleway-bold-body-font-size: 16px;
    --raleway-bold-body-line-height: 150%;
    --raleway-bold-body-font-weight: 700;
    --raleway-bold-body-font-style: normal;
    --raleway-bold-mediums-font-family: Raleway-Bold, sans-serif;
    --raleway-bold-mediums-font-size: 18px;
    --raleway-bold-mediums-line-height: 150%;
    --raleway-bold-mediums-font-weight: 700;
    --raleway-bold-mediums-font-style: normal;
    --raleway-bold-medium-font-family: Raleway-Bold, sans-serif;
    --raleway-bold-medium-font-size: 20px;
    --raleway-bold-medium-line-height: 150%;
    --raleway-bold-medium-font-weight: 700;
    --raleway-bold-medium-font-style: normal;
    --raleway-bold-heading-6-font-family: Raleway-Bold, sans-serif;
    --raleway-bold-heading-6-font-size: 24px;
    --raleway-bold-heading-6-line-height: 150%;
    --raleway-bold-heading-6-font-weight: 700;
    --raleway-bold-heading-6-font-style: normal;
    --raleway-bold-heading-5-font-family: Raleway-Bold, sans-serif;
    --raleway-bold-heading-5-font-size: 30px;
    --raleway-bold-heading-5-line-height: 125%;
    --raleway-bold-heading-5-font-weight: 700;
    --raleway-bold-heading-5-font-style: normal;
    --raleway-bold-heading-4-font-family: Raleway-Bold, sans-serif;
    --raleway-bold-heading-4-font-size: 36px;
    --raleway-bold-heading-4-line-height: 125%;
    --raleway-bold-heading-4-font-weight: 700;
    --raleway-bold-heading-4-font-style: normal;
    --raleway-bold-heading-3-font-family: Raleway-Bold, sans-serif;
    --raleway-bold-heading-3-font-size: 48px;
    --raleway-bold-heading-3-line-height: 100%;
    --raleway-bold-heading-3-font-weight: 700;
    --raleway-bold-heading-3-font-style: normal;
    --raleway-bold-heading-2-font-family: Raleway-Bold, sans-serif;
    --raleway-bold-heading-2-font-size: 60px;
    --raleway-bold-heading-2-line-height: 100%;
    --raleway-bold-heading-2-font-weight: 700;
    --raleway-bold-heading-2-font-style: normal;
    --raleway-bold-heading-1-font-family: Raleway-Bold, sans-serif;
    --raleway-bold-heading-1-font-size: 72px;
    --raleway-bold-heading-1-line-height: 100%;
    --raleway-bold-heading-1-font-weight: 700;
    --raleway-bold-heading-1-font-style: normal;
  
    /* Effects */
  }
  